html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
/* .snap-section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} */

/* Top-left title */
.section-title {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.bottom-left-text {
  position: absolute;
  bottom: 30px;
  left: 40px;

  font-size: 1rem;
}

/* Center content properly */
.section-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-section {
  background-color: #0f172a; /* dark navy */
  color: white;
}
/* Image version */
/* .hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
} */

.about-section {
  background-color: #f8fafc; /* light gray */
}

.skills-section {
  background-color: #1e293b; /* slate */
  color: white;
}

.projects-section {
  background-color: #ffffff;
}

/* .hero-content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;
}

.hero-image {
  width: 250px;
  height: auto;

  margin-bottom: 20px;

  border-radius: 20px;
} */

/* .column-layout {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;
} */

/* SIDE TEXT */
/* .side-text {
  width: 200px;

  font-size: 1.2rem;
} */

/* OPTIONAL ALIGNMENT */
/* .left-text {
  text-align: left;
} */

/* .right-text {
  text-align: right;
} */
 .center-columns {
  display: grid;

  grid-template-columns: repeat(2, 250px);

  gap: 80px;

  justify-content: center;
}

.skills-layout {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 500px;


  height: 100%;
}

/* LEFT */
.skills-buttons {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

/* RIGHT */
.skills-list {
  width: 400px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}